*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 22, 52) ;
}
.wrapper{
    margin: 15px;
    height: 100vh;
    /* overflow-x: hidden; */
    overflow-y: auto;
}
h1{
    font-size: 40px;
}
.head{
    padding-top: 20px;
    text-align: center;
    height: 100px;
    color: black;
    background-color: #2484C6;
}
.container
{
    padding: 80px;
    text-decoration: none;
    color: aliceblue;
    display: flex;

}
img{
    height: 45vb;
    width: 50vb;
}
.div1{
    text-decoration: none;
    width: 120vb;
    height: 60vh;
    background-color: #050B12;
    margin-left: 15px;
    text-align: center;
}

a{
    padding: 15px;
    text-decoration: none;
    color: rgb(244, 236, 236);
    
}

.div1{
        text-align: center;
        box-shadow: 20px 20px 44px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        transition: transform 0.5s;
    }
.div1:hover{
    transform: translate(-3px);
    box-shadow: 10px 10px 54px rgba(79, 191, 235, 0.2);
    border: 3px solid rgb(2, 12, 25);
}

